<div id="ui-container">
    <!-- connectivity banner -->
    <!-- This banner indicates to the user the network connectivity status of their device.
        It is commented out in the default template, but simply uncomment it to use. -->
    <!-- <app-connectivity-banner></app-connectivity-banner> -->

    <!-- header -->
    <div id="ui-header">
        <app-header></app-header>
    </div>

    <!-- main app container -->
    <!-- optional: class="has-fixed-header" -->
    <div id="ui-body">
        <router-outlet></router-outlet>
    </div>

    <!-- footer -->
    <div id="ui-footer">
        <app-footer></app-footer>
    </div>
</div>
